### Fuction
- A function is a block of code which only runs when it is called.

In [8]:
def square():
    new_value = 4**2
    print(new_value)

In [9]:
square()

16

- Add parameter into function.

In [10]:
def square(value):
    new_value = value ** 2
    print(new_value)

In [4]:
square(4)

16

- If we don't want to print the directly and instead we want to return the squared value and assign it to some variables?

In [11]:
def square(value):
    new_value = value**2
    return new_value

In [14]:
solve = square(5)

In [15]:
solve

25

In [17]:
square(5)

25

### Docstrings
- Docstrings are used to describe what your function does, such as the computaions it performs or it's return values.
- Serve as documentation for your function.
- Placed in the immediate line after the function header.
- In between triple double quotes.

In [18]:
def square(value):
    """Returns the square of a value."""
    new_value = value**2
    return new_value

In [19]:
square(4)

16

- Retrieving Docstrings
- syntax: `function.__doc__`

In [20]:
print(square.__doc__)

Returns the square of a value.

In [23]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

### Multiple Parameter
- Accept more than one paramerter.

In [25]:
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2"""
    new_value = value1**value2
    return new_value

In [26]:
raise_to_power(4,3)

64

- Make functions return multiple values.

In [37]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa."""
    new_value_1 = value1**value2
    new_value_2 = value2**value1
    new_tuple = (new_value_1, new_value_2)
    return new_tuple

In [18]:
raise_both(2,3)

(8, 9)

In [19]:
result1, result2 = raise_both(2,3)

In [20]:
result1

8

In [21]:
result2

9

### Defult Argument

In [40]:
def power(number, powe = 2):
    new_value = number**powe
    return new_value

In [41]:
power(3)

9

- Mutable default arguments are dangerous.

- `Bad Practice`

In [13]:
def foo(x, var = []):
    var.append(x)
    return var

In [14]:
foo([1,2,3])

[[1, 2, 3]]

- `Good Practice`

In [21]:
def foo(x, var = None):
    if var is None:
        var = []
    var.append(x)
    return var

In [22]:
foo([1,2,3])

[[1, 2, 3]]

### Scope

**Scope** is the part of a program where an object or name is accessible.
- **Global Scope** is defined in the main body of a script or a Python program.
- **Local Scope** is defined within a function. Once the execution of a function is complete, any names inside the local scope cease to exist, which means those names cannot be accessed outside the function definition.
- **Built-in Scope** consists of predefined built-in functions and names provided by Python, such as `print` and `sum`.

Example 1: Local varable

In [44]:
def square(value):
    new_value = value**2
    return new_value

In [45]:
square(3)

9

In [46]:
new_value

NameError: name 'new_value' is not defined

Example 2: Global Variable

In [29]:
def square(value):
    global new_value
    new_value = value ** 2
    return new_value

In [30]:
square(3)

9

In [31]:
new_value

9

Example 3: Global Varable

In [35]:
new_value = 10
def square(value):
    global new_value
    new_value = new_value ** value
    return new_value

In [36]:
square(2)

100

In [37]:
new_value

100

In [6]:
max([1,3,4,5,6])

6

In [38]:
new_value

100

### Nested Function

In [1]:
def mod2plus5(x1, x2, x3):
    def inner(x):
        return x%2 + 5
    return (inner(x1), inner(x2), inner(x3))

In [2]:
mod2plus5(1,2,3)

(6, 5, 6)

In [4]:
def mod2plus5(x1, x2):
    def inner(x):
        return x%2
    return inner(x1), inner(x2)

In [5]:
mod2plus5(1,2)

(1, 0)

### Returning Function

In [9]:
def raise_val(n):
    def inner(x):
        raised = x**n
        return raised
    return inner

In [10]:
square = raise_val(2)

In [11]:
square(4)

16

### Nonlocal

In [24]:
def outer():
    n = 2
    def inner():
        nonlocal n
        n = 5
        print(n)
    inner()
    print(n)

In [25]:
outer()

5
5

### Flexible Argument
- `*args`

In [26]:
def add_all(*args):
    sum_all = 0 
    for i in args:
        sum_all += i
    return sum_all

In [27]:
add_all(1,2,3,4,5)

15

In [28]:
def mean(*args):
    sum_all = 0
    for i in args:
        sum_all += i
    mean = sum_all/ len(args)
    return mean

In [29]:
mean(10,20,30)

20.0

- `**kwargs` : This turns the identifier keyword pairs into a dictionary within the function body.

In [34]:
def print_all(**kwargs):
    for key, value in kwargs.items():
        print(key + " : " + value)

In [37]:
print_all(Name = "Abu Omayed",
         Institute = "University of Chittagong",
         Email = "abuomayed@gmail.com")

Name : Abu Omayed
Institute : University of Chittagong
Email : abuomayed@gmail.com

### Lambda Function
- Syntax : `lambda arguments : expression`

In [38]:
raise_to_power = lambda x,y : x**y

In [39]:
raise_to_power(2,3)

8

In [41]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
print(mydoubler(11))

22

### Error and Exceptions

In [42]:
def sqrt(x):
    try:
        return x**0.5
    except:
        print("X must be an int or float")

In [43]:
sqrt(4)

2.0

In [44]:
sqrt("A")

X must be an int or float

In [45]:
sqrt(-4)        #Wrong

(1.2246467991473532e-16+2j)

In [52]:
def sqrt(x):
    if x<0:
        raise ValueError("X must be non-negative")
    try: return x**0.5
    except: print("X must be an int or float")

In [53]:
sqrt(-2)

ValueError: X must be non-negative

In [54]:
sqrt(9)

3.0

### List Comprehensions

In [57]:
nums = [1,2,3]
new_nums = []
for i in nums:
    new_nums.append(i+1)
print(new_nums)

[2, 3, 4]

- Same example by using list comprehensions

In [59]:
new_nums = [i+1 for i in nums]
print(new_nums)

[2, 3, 4]

- Crate a list by using `range()`

In [64]:
new_list = [i for i in range(9)]
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

- Nested Loops

In [65]:
pair = []
for i in range(0,2):
    for j in range(6,8):
        pair.append((i,j))

In [66]:
pair

[(0, 6), (0, 7), (1, 6), (1, 7)]

- Nested Loops by list Coprehensions

In [68]:
pair = [(i,j) for i in range(0,2) for j in range(6,8)]
pair

[(0, 6), (0, 7), (1, 6), (1, 7)]

- Crate a `5*5` matrix

In [69]:
matrix = [[col for col in range(5)] for row in range(5)]

In [70]:
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

- Condition in iterable

In [73]:
number = [num for num in range(10) if num % 2 == 0]

In [74]:
number

[0, 2, 4, 6, 8]

- Conditon on the output expression

In [75]:
number = [num if num % 2 == 0 else 0 for num in range(10)]

In [76]:
number

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

### Dict Comprehensions
- use `{}` instead of `[]`
- The key and value are separated by a colon in the output expression.

In [77]:
pos_neg = {num : - num for num in range(5)}

In [78]:
pos_neg

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4}

### Generator Expression
- Use `()` instead of `[]`.
- Generators return generator object.
- It can be iterated over.

In [79]:
result = (num for num in range(5))

In [80]:
result

In [81]:
for i in result:
    print(i)

0
1
2
3
4

### Generator Function
- Generator function are functions that, when called, produce generator objects.
- Defined like a regular function `def`.
- Yields a sequence of values instead of returning a single value.
- Generate a value with `yield` keywords.

In [82]:
def num_sequence(n):
    i = 0 
    while i < n:
        yield i
        i+=1

In [83]:
result = num_sequence(5)

In [84]:
result

In [85]:
for i in result:
    print(i)

0
1
2
3
4

### Context Manager
- Define a function.
- (Optional) Add any setup code your context needs.
- Use the `yield` keyword.
- (Optional) Add any teardown code your context needs.
- Add the `@contextlib.contextmanager` decorator.

In [24]:
import contextlib

In [25]:
@contextlib.contextmanager
def foo():
    print("Hello")
    yield 42
    print("Goodby")

In [26]:
with foo() as number:
    print("The number is {}".format(number))

Hello
The number is 42
Goodby

- Read a file by contextlib

In [28]:
with open("DSA.txt") as DSA:
    text = DSA.read()
    length = len(text)

In [29]:
print("The of this file is {}".format(length))

The of this file is 340