<h1>Python Data Structure</h1> 
<ul>
    <li>List</li>
    <li>Tuple</li>
    <li>Set</li>
    <li>String</li>
    <li>Dictionary</li>
</ul>

### Dictionary
- To create a dictionary, we use curly {} brackets.
- The key have to be immutable and unique.
- Each key and value pair is separated by comma.

In [1]:
dic = {"Thriller": 1982, "Black to Black": 1980}

In [2]:
dic

{'Thriller': 1982, 'Black to Black': 1980}

In [3]:
type(dic)

dict

- The key is used to look at the value.

In [4]:
dic["Thriller"]

1982

- We can add a new entry to the dictionary.

In [7]:
dic["Graduation"] = 2007

In [8]:
dic

{'Thriller': 1982, 'Black to Black': 1980, 'Graduation': 2007}

- We can delete an entry.

In [9]:
del(dic["Graduation"])

In [10]:
dic

{'Thriller': 1982, 'Black to Black': 1980}

- We can verify if an element is in the dictionary using the "in" command.

In [11]:
"Thriller" in dic

True

- In order to see all the keys in the dictionary.

In [12]:
dic.keys()

dict_keys(['Thriller', 'Black to Black'])

- In the same way we can obtain values.

In [13]:
dic.values()

dict_values([1982, 1980])

- Dictionary of dictionary

In [14]:
europe = {"Spain": {"Capital": "Madrid", "Population": 46.77},
         "Franch": {"Capital": "Paris", "Population": 66.03},
         "Germany": {"Capital": "Berline", "Population": 80.62}}

In [15]:
europe

{'Spain': {'Capital': 'Madrid', 'Population': 46.77},
 'Franch': {'Capital': 'Paris', 'Population': 66.03},
 'Germany': {'Capital': 'Berline', 'Population': 80.62}}

- Print out capital of Franch.

In [17]:
europe["Franch"]["Capital"]

'Paris'

- Add details about Italy

In [18]:
europe["Italy"] = {"Capital": "Rome", "Population": 59.83}

In [19]:
europe

{'Spain': {'Capital': 'Madrid', 'Population': 46.77},
 'Franch': {'Capital': 'Paris', 'Population': 66.03},
 'Germany': {'Capital': 'Berline', 'Population': 80.62},
 'Italy': {'Capital': 'Rome', 'Population': 59.83}}

- Create Dictionary form list.

In [20]:
my_dic = {"country": ["USA", "Australia", "Japan"], "Population": [80, 50, 30]}

In [21]:
my_dic

{'country': ['USA', 'Australia', 'Japan'], 'Population': [80, 50, 30]}

In [22]:
import pandas as pd

In [26]:
dataframe = pd.DataFrame(my_dic)
dataframe

     country  Population
0        USA          80
1  Australia          50
2      Japan          30