<h1>Python Data Structure</h1> 
<ul>
    <li>List</li>
    <li>Tuple</li>
    <li>Set</li>
    <li>String</li>
    <li>Dictionary</li>
</ul>

### Set
- Sets are a type of collection.
- Sets are unordered, i.e. Sets do not record element position.
- Sets only have unique elements.
- To define set, we use curly {} brackets.

In [1]:
A = {1,2,3,4}

In [2]:
type(A)

set

- Sets only have unique elements.

In [3]:
B = {1,2,3,1}

In [4]:
type(B)

set

In [5]:
print(B)

{1, 2, 3}

- True = 1, False = 0

In [12]:
C = {1, 2 , "CSNLP", 0, "pyhton", False}

In [13]:
type(C)

set

In [14]:
C

{0, 1, 2, 'CSNLP', 'pyhton'}

In [15]:
D = {1, 2 , "CSNLP", 0, "pyhton", True}

In [16]:
print(D)

{0, 1, 2, 'CSNLP', 'pyhton'}

In [17]:
type(D)

set

- Convert list to a set.

In [1]:
album_list = ["Michal", "Thriller", "Thriller", 1982]

In [2]:
album_set = set(album_list)

In [3]:
album_set

{1982, 'Michal', 'Thriller'}

- Acsess set items

In [4]:
album_set

{1982, 'Michal', 'Thriller'}

In [5]:
print("Michal" in album_set)

True

In [6]:
print("MIchal" in album_set)

False

- Add set itemsby using add() mehtod.

In [25]:
album_set.add("Romantic")

In [26]:
album_set

{1982, 'Michal', 'Romantic', 'Thriller'}

- Add items from another set by using update() method.

In [35]:
fruit_set = {"apple", "bannana"}
vegetable_set = {"carrot", "potato", "onion"}

fruit_set.update(vegetable_set)
print(fruit_set)

{'apple', 'potato', 'carrot', 'onion', 'bannana'}

In [38]:
daily_need = fruit_set.update(vegetable_set) # Create a problem
print(daily_need)

None

- Set update method can be add any iterable object (tuples, lists, dictionaries etc.).

In [39]:
fruit_set

{'apple', 'bannana', 'carrot', 'onion', 'potato'}

In [40]:
winter_fruit = ["apple", "orange", "kiwi"]

In [41]:
fruit_set.update(winter_fruit)

In [42]:
print(fruit_set)

{'orange', 'apple', 'potato', 'carrot', 'onion', 'kiwi', 'bannana'}

- Remove set items by using remove() method.

In [43]:
fruit_set

{'apple', 'bannana', 'carrot', 'kiwi', 'onion', 'orange', 'potato'}

In [44]:
fruit_set.remove("onion")

In [45]:
fruit_set

{'apple', 'bannana', 'carrot', 'kiwi', 'orange', 'potato'}

- To empties full set we use clear() mehtod.

In [46]:
name = {"kubaib", "hamid"}

In [47]:
name.clear()

In [48]:
print(name)

set()

### Sets Logic Operations

- Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection and union.

In [49]:
# Consider the following two set
A = {1,2,3,4,5}
B = {3,4,6,8,9}

In [50]:
print(A,B)

{1, 2, 3, 4, 5} {3, 4, 6, 8, 9}

- You can find the intersection of two sets as follow using & or intersection() method.

In [51]:
intersection = A & B

In [52]:
intersection

{3, 4}

In [53]:
intersection_1 = A.intersection(B)

In [54]:
intersection_1

{3, 4}

- You can find all the elements that are only contain in A using the difference() method.

In [55]:
difference = A.difference(B)

In [56]:
difference

{1, 2, 5}

- The union corresponds to all the elements in both sets, we can find union by using union() mehtod.

In [58]:
union = A.union(B)

In [59]:
union

{1, 2, 3, 4, 5, 6, 8, 9}