<h1>Python Data Structure</h1> 
<ul>
    <li>List</li>
    <li>Tuple</li>
    <li>Set</li>
    <li>String</li>
    <li>Dictionary</li>
</ul>

### String
- A String is a sequense of Characters.
- A string contained within two/single quotes.

In [1]:
print("Micheal Jackson")

Micheal Jackson

In [2]:
name = "Micheal Jackson"

In [3]:
print(name)

Micheal Jackson

In [4]:
type(name)

str

- A String can be spaces or digit.

In [5]:
B = "1 2 3 4"

In [6]:
type(B)

str

In [7]:
print(B)

1 2 3 4

- A string can also be special character.

In [8]:
C = "@#$%^&&**()"

In [9]:
type(C)

str

### String Index

In [11]:
name = "Michale Jackson"

In [12]:
print(name)

Michale Jackson

In [13]:
name[4]

'a'

- We can bind string.

In [14]:
name[0:4]

'Mich'

- Print every second element.

In [15]:
name[::2]

'McaeJcsn'

- Incorporate slicing

In [17]:
name[0:6:2]

'Mca'

### Modified String

- .upper() method returns the string in Upper case.

In [18]:
name.upper()

'MICHALE JACKSON'

- .lower() method returns the string in lower case.

In [19]:
name.lower()

'michale jackson'

### Combined string

In [23]:
A = "Pyhton "
B = "Programming"

In [24]:
c = A + B

In [25]:
print(c)

Pyhton Programming

In [26]:
statement = name + "is the best singer"

In [27]:
statement

'Michale Jacksonis the best singer'

### Format String

In [31]:
income = 5000
statement = "My monthly income is " + str(income) + " taka"
statement

'My monthly income is 5000 taka'

- Create an f string.

In [34]:
statement = f"My monthly income is {income} taka"
statement

'My monthly income is 5000 taka'

- By using f string you can do mathematical operation

In [36]:
statement = f"My yearly income is {income*12} taka"
statement

'My yearly income is 60000 taka'

### Escape Characters

- \ meant to proceed escape sequence

In [39]:
name = "Mical \ Jackson"

In [40]:
name

'Mical \\ Jackson'

- \\" Double code

In [46]:
print("My name is "Mical".")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2120566101.py, line 1)

In [47]:
print("My name is \"Mical\".")

My name is "Mical".

- \\n New line

In [48]:
print("My name is Mical.\n And i am a singer.")

My name is Mical.
 And i am a singer.

### List Method

- <b>capitalize()</b>  Converts the first character to upper case
- <b>count()</b>   Returns the number of times a specified value occurs in a string
- <b>find()</b>	Searches the string for a specified value and returns the position of where it was found
- <b>format()</b>	Formats specified values in a string
- <b>islower()</b>	Returns True if all characters in the string are lower case
- <b>index()</b>	Returns the index of the first element with the specified value
- <b>replace()</b> Returns a string where a specified value is replaced with a specified value

- capitalize() Converts the first character to upper case

In [49]:
name = "kazi nazrul Islam"

In [50]:
name.capitalize()

'Kazi nazrul islam'

- count() Returns the number of times a specified value occurs in a string

In [51]:
name.count("i")

1

In [53]:
name

'kazi nazrul Islam'

- find() Searches the string for a specified value and returns the position of where it was found

In [54]:
name.find("I")

12

- format() Formats specified values in a string

In [57]:
txt = "My monthly income is {} taka"
print(txt.format(12.3453))

My monthly income is 12.3453 taka

In [61]:
print("My montly income is {} taka".format(123.12))

My montly income is 123.12 taka

In [63]:
print("My name is {fname}, I'm {age}".format(fname = "John", age = 36))

My name is John, I'm 36

- islower() Returns True if all characters in the string are lower case

In [64]:
name.islower()

False

- index() Returns the index of the first element with the specified value

In [65]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

- replace() Returns a string where a specified value is replaced with a specified value

In [66]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [67]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.