<h1>Python Data Structure</h1> 
<ul>
    <li>List</li>
    <li>Tuple</li>
    <li>Set</li>
    <li>String</li>
    <li>Dictionary</li>
</ul>

### Tuple
- Tuples are an ordered sequence.
- Tuples are written as comma separated elements within parenthesis.
- Tuples are immutable in nature i.e. the elements in the tuple cannot be added or removed once created.

In [1]:
tuple_1 = (1,2,3,4)

In [2]:
type(tuple_1)

tuple

In [3]:
tuple_1[0] = 5 # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple_1.append(5) # Tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
del(tuple_1[0]) # Tuples are immutable

TypeError: 'tuple' object doesn't support item deletion

- We can combined the Tuple by adding.

In [6]:
A = (1,2,3)
B = (4,5,6)
C = A+B

In [7]:
C

(1, 2, 3, 4, 5, 6)

### Tuple Index
- Tuple index are same as list indexing.

In [10]:
tuple_1

(1, 2, 3, 4)

- Print 2nd element from the tuple

In [13]:
tuple_1[1] # Tuple index are same as list index

2

In [12]:
tuple_1[-3]

2

- Print 1st to 3rd value from the list. 
- syntax: my_tuple[start:end]
- end value not included

In [14]:
tuple_1[0:3] # Tuple index are same as list index

(1, 2, 3)

- Nasted Tuple

In [9]:
tuple_2 = ((1,2,3), ("a", "b", "C"), ("Headphone", "Mobile", "Laptop"))

In [10]:
tuple_2[1]

('a', 'b', 'C')

- we can access every element

In [11]:
tuple_2[1][1] # we want to print b.

'b'

- Print: My Mobile condition is not good.

In [21]:
print("My " + tuple_2[2][1] + " Condition is not good")

My Mobile Condition is not good

- Print: I make number 1 position in the exam.

In [23]:
print("I make number " + str(tuple_2[0][0]) + " position in the exam.") # Note: here use str() fuction for convert number to string.

I make number 1 position in the exam.

### Convert list to tuple and tuple to list

- List to Tuple covert

In [12]:
list_1 = [1,2,3]

In [13]:
list_1

[1, 2, 3]

In [14]:
type(list_1)

list

In [15]:
tuple_3 = tuple(list_1)

In [16]:
tuple_3

(1, 2, 3)

In [17]:
type(tuple_3)

tuple

- Tuple to list Convert

In [19]:
tuple_4 = (4,5,6)

In [20]:
tuple_4

(4, 5, 6)

In [21]:
type(tuple_4)

tuple

In [22]:
list_2 = list(tuple_4)

In [35]:
list_2

[4, 5, 6]

In [36]:
type(list_2)

list

### Upadte Tuple

In [37]:
A = ("Computer", "Mobile", "HeadPhone")

In [38]:
B = list(A)

In [39]:
B

['Computer', 'Mobile', 'HeadPhone']

In [40]:
B.append("Laptop")

In [41]:
A = tuple(B)

In [42]:
A

('Computer', 'Mobile', 'HeadPhone', 'Laptop')

- all in one

In [44]:
A = ("Computer", "Mobile", "HeadPhone")
B = list(A)
B.append("Laptop")
A = tuple(B)
A

('Computer', 'Mobile', 'HeadPhone', 'Laptop')

- add tuple to a tuple

In [47]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

- Delete a vlaue from the tuple.

In [51]:
tuple_5 = (1,2,3,4)
list_tuple = list(tuple_5) # covert to list
del(list_tuple[3]) # delete an element
tuple_5 = tuple(list_tuple) # Reconvert to tuple
tuple_5 # print tuple

(1, 2, 3)

### Unpack Tuple
- Assign elements of a tuple to variables.

In [53]:
data = (10, 20, 30)
a, b, c = data

In [54]:
a

10

In [55]:
b

20

In [56]:
c

30

- Using Asterisk*

In [58]:
data_1 = (10, 20, 30, 40, 50, 60)

In [59]:
a, b, *c = data_1

In [60]:
a

10

In [61]:
b

20

In [62]:
c

[30, 40, 50, 60]

### Tuple method
- <b>count()</b>	Returns the number of times a specified value occurs in a tuple
- <b>index()</b>	Searches the tuple for a specified value and returns the position of where it was found

- count() Returns the number of times a specified value occurs in a tuple
- syntax: tuple.count(value)

In [63]:
data_3 = (10, 20 ,30, 10, 40, 20, 10)

In [65]:
data_3.count(10)

3

- index() Searches the tuple for a specified value and returns the position of where it was found
- tuple.index(value)

In [66]:
data_3.index(10)

0

In [67]:
data_3.index(40)

4